In [8]:
# Refresh my memory from here: https://www.youtube.com/watch?v=J_LnPL3Qg70&t=2s
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from sklearn import linear_model

In [9]:
df = pd.read_csv(r"C:\Users\Cody\Desktop\homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [10]:
# Drop null values, assuming dataset is large enough after dropping.
df=df.dropna() # If my dataset is too small, replace the null values with Median instead.
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

# Finding Median with following:
- import math
- median_bedrooms = math.floor(df.bedrooms.median())
- median_bedrooms
- df.bedrooms = df.bedrooms.fillna(median_bedrooms)

In [11]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [12]:
reg.predict([[3000,3,15]])

array([578289.58062419])